@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.375rem;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #000;
}
.p-b{
    padding: 0px  0px 4.25rem 0px;
}
.m-b{
    margin: 0px  0px 4.25rem 0px;
}
.t-center{
    text-align: center;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.title-box {
    text-align: center;
    padding: 2rem 0px;
    /* margin: 20px 0px; */
}

.title-box h1 {font-size: 2.3rem;padding-bottom: 20px;font-weight: 800;}

.title-box p {
    font-size: 0.9rem;
    color:  #707070;
    font-weight: 600;
}
h3{
    padding: 10px 0px;
}

a.links-items{
    text-decoration: underline;
    color: rgb(34, 106, 249);
}

/* ======header-area========= */
.header-area{
    /* display: flex;
    align-items: center; */
    text-align: center;
    /* width: 100%; */
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* min-height: 100vh; */
    align-items: center;
    align-content: center;
}
.header-text-area{
   /* width: 90%; */
    color: #fff;
    text-align: center;
    padding: 100px 30px;
}
.header-text-area h1{
    padding: 25px;
    margin-bottom: 2%;
    font-size: 4rem;
    font-weight: 600;
    line-height: 22px;

}
a.btn-box {
    color: #fff;
    border: 1px solid #FF5959;
    background: #FF5959;
    padding: 11px 30px;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: 15px 0px;
    margin: 30px 0px;
    transition: 0.7s;
}
a.btn-box:hover {
    box-shadow: 20px 10px 40px #c40b0b;
    border-radius: 50px;
    border:2px solid #c40b0b;
    font-weight: 600;
}
/* ============donate-area========= */
/* 
.donate-title-box {
    text-align: center;
    padding-bottom: 2rem;
} */
.donate-money-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 90%;
    padding-left: 5%;
}
#single_donate{
    border: 1px solid #FF5959;
    padding: 3.9rem;
    transition: 0.5s;
    background-color: #FFEEEE;
}
.single-donate-items{
    border: 1px solid #ddd;
    padding: 3.9rem;
    transition: 0.5s;
    background-color: #FAFAFA;
}
.single-donate-items:hover,#single_donate:hover {
    color: red;
    font-size: 1.5rem;
    background-color: #FFEEEE;
    
}
input.input-text{
    width: 40%;
    padding-left: 25%;
    margin-left: 11%;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 1%;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1.5rem;
}

input.input-text:focus{
    border-bottom: 1px solid #f28f49;
}

.donate-input-area{
    text-align: center;
}

.donate-title-box {
    text-align: center;
    padding-bottom: 2rem;
}

/* ============donate-area========= */

.donate-title-box {
    text-align: center;
    padding-bottom: 2rem;
}



/* ==============donate-plan-area=========== */
.donate-plan-area{
    width: 90%;
    padding-left: 5%;
    /* text-align: center; */
    padding-bottom: 4.25rem;
}
.single-plan {
    flex-basis: 32.3%;
    padding: 13px;
    margin-right: 10px;
    /* background: coral; */
    border-top: 8px solid red;
}
#food{
    border-top: 7px solid blue;
    background-color: coral;
    border: 1px solid coral;
    border-radius: 10px;
}
div#food{
    border-left: 7px solid blue;
}
div#shelter{
    border-left: 7px solid blue;
}
div#clothes{
    border-left: 7px solid blue;
}
/* #food:hover{
    box-shadow: 5px 3px 5px coral;
    background-color: coral;
    border: 1px solid coral;
    border-radius: 10px;
    opacity: 1;
} */
#food{
    background-color:#FFEEEE;
    border: 1px solid #FFEEEE;
    border-radius: 10px;
}
#shelter{
    background-color:#fae494;
    border: 1px solid #fae494;
    border-radius: 10px;
}
#clothes{
    background-color:#f8a2a2;
    border: 1px solid ;
    border-radius: 10px;
}

/* ==============flooded-sylhet-area================ */

.flooded-items{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;
    background-color: #eee;
    padding-top: 3%;
    padding-bottom: 3%;
}
.single-title{
    padding-left: 3%;
    flex-basis: 48%;
    padding-top: 30px;
    padding-right: 2%;
}
.single-title img{
    width: 100%;
}
.single-title h1 {font-size: 1.9rem;padding: 0 0;line-height: normal;}

.single-title p {
    /* padding: 20px 0; */
    margin: 40px 0;
    text-align: justify;
}

/* ==========flood-victims-area========== */
.flood-victims-area{
    background-image: linear-gradient(rgb(121, 232, 246), rgb(197, 197, 141), rgb(251, 249, 248));
}


/* ==========updates-area=========== */
.updates-area{
    padding-top: 3%;
}
.updates-input-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#email{
    width: 18rem;
    padding: 15px 20px;
    background-color: #ddd;
    outline: #ddd;
    border: 2px solid #ddd;
    border-radius: 3px;
} 
input#email:focus {
    border: 1.5px solid blue;
}
#submit{
    padding: 15px 20px;
    width: 13%;
    border: 2px solid #8a47d6;
    background-color: #8a47d6;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;

}
.updates-input-box {
    background: #eb6507;
    padding: 3.45rem;
    width: 80%;
    margin-left: 7%;
    box-shadow: 10px 10px 30px #eb6507;
    border: 1.5px solid #eb6507;
    border-radius: 10px;
}

/* =========footer====== */
.footer{
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
}
.footer h4{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 8px;
}


